<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>Jobs analysis</title>
  <script src="https://d3js.org/d3.v7.min.js"></script>
  <style>
    body { font-family: sans-serif; margin: 40px; }
    svg { margin-bottom: 40px; }
  </style>
</head>
<body>
  <h1>Vacancies visualisation</h1>
  <h2>Required skills (Bubble Chart)</h2>
  <div id="bubble"></div>
  <h2>Required experience (Pie Chart)</h2>
  <div id="pie"></div>
  <h2>Work schedule (Bar chart race)</h2>
  <div id="treemap"></div>
  <script src="/static/js/main.js"></script>
</body>
</html>
